*{
    font-family: Arial;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid div{
    color: white;
    background-color: rgb(65, 119, 213);
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid{
    width: 95vw;
    height: 95vh;
    display: grid;
    row-gap: 26px;
    column-gap: 16px;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(7, 1fr);
}
.A{
    grid-column: 1/12;

}
.B{
    grid-column: 1/4;
    grid-row: 2/6;
}
.C{
    grid-column: 4/10;
    grid-row: 2/6;
}
.D{
    grid-column: 10/12;
    grid-row: 2/4;
}
.E{
    grid-column: 10/12;
    grid-row: 4/6;
}
.F{
    grid-column: 1/10;
}
.G{
    grid-column: 10/12;
}
.H{
    grid-column: 1/12;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}